.moving_container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
  }
  
  .home_container {
     width: 5vh;
     height: 5vh;
     border-radius: 50%;
     background-color: yellowgreen;
     position: absolute;
     transition: all 1s ease;
     /* display: 'inline-block' */
  }
  
  /* @media (prefers-reduced-motion: no-preference) {
    .home_container {
      animation: App-logo-spin infinite 6s ;
    }
  }
  
  
  @keyframes App-logo-spin {
    from {
       translate: 0%;
  
    }
    to {
      margin-left: 100%;
      color: yellow;
      background-color: beige;
    }
  } */
  