.landing-background {
  background-image: -webkit-linear-gradient(150deg, #febd59 35%, #fdebcf 35%);
  height: 90vh;
  width: 95.5vw;
  margin: 5vh 2vw;
}

.round-div {
  height: 65vh;
  width: 30vw;
  border-radius: 20vw;
  background-color: #fff;
}
