.our_products_container{
    height: 100%;
    width: 100%;
    background-color: rgba(17, 190, 55, 0.1); 
    padding: 3vh 5vw;
    box-sizing: border-box;
}

.our_products_body_title{
    font-size: 3vw;
    margin-bottom: 4vh;
    text-align: center;
    color: rgb(85, 122, 9);
    display: inline-block;
}

.our_products_product_list{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    border: 2px solid darkgreen;
    padding: 0.5%;
    box-sizing: border-box;
}

.our_products_product_list_tile{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.2% 3%;
    box-sizing: border-box;
    border: none;
    background-color: rgb(136, 20, 20);
    color: white;
    font-weight: 500;
    border-radius: 6px;
}

.our_products_body_image_slider{
    width: 80%;
    height: 60vh;
    margin: auto;
    border: none;
    box-shadow: 2px 2px 4px darkgray,-2px -2px 4px darkgray,-2px 2px 4px darkgray,2px -2px 4px darkgray;
    margin-top: 5vh;
}